html {
    overflow-y: scroll;
}

:root {
    --bgcolor: white;
    --fontcolor: #444;
    --linkcolor: #00e;
    --visitedcolor: #551a8b;
    --precolor: #b44;
    --prebgcolor: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgcolor: black;
        --fontcolor: white;
        --linkcolor: #5bf;
        --visitedcolor: #ae5ee0;
        --precolor: #fff;
        --prebgcolor: #383838;
    }
}

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    font-family: sans-serif;
    color: var(--fontcolor);
    background: var(--bgcolor);
}

a:link {
    color: var(--linkcolor);
}

a:visited {
    color: var(--visitedcolor);
}

a:active {
    color: var(--visitedcolor);
}

h1,h2,h3 {
    line-height:1.2;
}

p > code {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding:2px;
    font: 1.2em monospace;
}

pre {
    /* color: var(--precolor); */
    /* background: var(--prebgcolor); */
    padding:24px;
    overflow-x: auto;
    font: 1.2em monospace;
}

article {
    padding:24px 0;
}

article h1 {
    display: flex;
    justify-content: space-between;
}

article h1 time {
    font-size: 1rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

figcaption {
    color: #888;
    font: monospace;
    text-align: center;
}

figure {
    margin: auto;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 768px;
    width: 100%;
}

.footnote-definition  {
    border-bottom: 1px #888 dotted;
}
