{{ define "main" }}

{{ $lastmodstr := default (i18n "dateFormat") .Site.Params.dateformat | .Lastmod.Format }}
{{ $datestr := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format }}

<main>
  <article>
    <h1>{{ .Title }}
      <time>{{ $datestr }}</time>
      {{ if ne $datestr $lastmodstr }}
      &nbsp;<time>{{ $lastmodstr | i18n "lastModified"  }}</time>
      {{ end }}
    </h1>
    {{ with .Params.tags }}
    <p id="tags">
      <span class="keywords">Keywords:</span>
      {{ range . }}
      <span><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a></span>
      {{ end }}
    </p>
    {{ end }}
    <div>
      {{ .Content }}
    </div>
    {{ with .Site.DisqusShortname }}
    <div>
      {{ template "_internal/disqus.html" . }}
    </div>
    {{ end }}
  </article>
</main>
{{ partial "sidebar.html" . }}
{{ end }}
