{{ $lastmodstr := default (i18n "dateFormat") .Site.Params.dateformat | .Lastmod.Format }}
{{ $datestr := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format }}
<article>
  <h1><a href="{{ .Permalink }}">{{ .Title }}</a>
    <time>{{ $datestr }}</time>
    {{ if ne $datestr $lastmodstr }}
    &nbsp;<time>{{ $lastmodstr | i18n "lastModified"  }}</time>
    {{ end }}
  </h1>
  {{ with .Params.tags }}
  <p id="tags">
    <span class="keywords">Keywords:</span>
    {{ range . }}
    <span><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a></span>
    {{ end }}
  </p>
  {{ end }}
  <div>
    {{ .Summary }}
    {{ if .Truncated }}
    <a href="{{ .Permalink }}">Read more...</a>
    {{ end }}
  </div>
</article>
