{{ $lastmodstr := default (i18n "dateFormat") .Site.Params.dateformat | .Lastmod.Format }}
{{ $datestr := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format }}
<article>
  <h1 class="header"><a href="{{ .Permalink }}">{{ .Title }}</a>
    <span><time>{{ $datestr }}</time>
      {{ if ne $datestr $lastmodstr }}
      &nbsp;Updated: <time>{{ $lastmodstr }}</time>
      {{ end }}
    </span>
  </h1>
  {{ with .Params.tags }}
  <p id="tags">
    <span class="keywords">Keywords:</span>
    {{ range . }}
    <span><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a></span>
    {{ end }}
  </p>
  {{ end }}
  <div>
    {{ .Summary }}
    {{ if .Truncated }}
    <a href="{{ .Permalink }}">Read more...</a>
    {{ end }}
  </div>
</article>
